.signup {
  display: grid;
  place-items: center;
  height: 50vh;
}
.form {
  background-color: black;
  color: white;
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 95%;
  margin-top: 10px;
  padding: 10px;
}
/* .label{
    margin-top: 10px;
} */
.btn {
  background-color: darkslategrey;
  width: 80%;
  margin-top: 10px;
  padding: 2px;
  border-radius: 5px;
}
.login {
  background-color: darkslategrey;
  width: 80%;
  margin-top: 10px;
  padding: 2px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .login {
    background-color: darkslategrey;
    width: 50%;
    margin-top: 10px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
  }
}
